/RemoteSystemsTempFiles/.project
/dvt/*
/.jxbrowser-data/*
/.metadata/*
/data_acquisition/.ccsproject
/data_acquisition/Debug/*
/data_acquisition/targetConfigs/*
/data_acquisition/.launches/*
/data_acquisition/.settings/*

